/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}


/*----------------------------------------------------------------------------------------------------*/


body{
    margin: 0 auto;  
    max-width: 100%; 
}
.wrapper {
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
}


.container_list_working {
    background: #EAEAEA;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.container_list_active{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.content_list_working {
    margin: 0 0 0 80px;
    width: 927px;
    background: #D9D9D9;
    height: 587px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}


.list_working_lists {
    /*width: 700px;*/
    height: 70%;
    margin-top: 37px;
    margin-left: 47px;
}

.list_working_lists li{
    font-family: Roboto;
    font-size: calc(16px + 20 * ((100vw - 320px) / (1920 - 320))); 
    cursor: pointer;
    width: 90%;
    padding-left: 10px;
    margin-bottom: 10px;
}

.actions_list_working {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.actions_list_btn {
    width: calc(280px + 20 * ((100vw - 320px) / (1920 - 320))); 
    height:  calc(35px + 25 * ((100vw - 320px) / (1920 - 320))); 
    background: #D9D9D9;
    margin-right:  calc(35px + 40 * ((100vw - 320px) / (1920 - 320))); 
    margin-bottom:  calc(20px + 20 * ((100vw - 320px) / (1920 - 320))); 
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
}


.actions_list_btn:hover {
    font-weight: bolder;
    box-shadow: 2px 2px 10px 2px #a29494;
}

.actions_list_btn span{
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(16px + 14 * ((100vw - 320px) / (1920 - 320))); 
}
.highlight{
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.39);
}
.cross-out{
    text-decoration: line-through;
}







.project_check_list{
    font-family: Roboto;
    color: #000000;
    font-weight: 500;
    font-size: calc(26px + 10 * ((100vw - 320px) / (1920 - 320))); 
    line-height: 46px;
    /*letter-spacing: 10%;*/
margin-top: 60px;
}



.search{
    
    font-family: Roboto;
    color: #000000;
    padding: 3px 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid black;
}


@media(max-width:735px){

.container_list_active{
    flex-direction: column;
}
.content_list_working{
    max-width: calc(300px + 313 * ((100vw - 320px) / (735 - 320))); 
    margin: 0 auto;
    min-height: 260px;
    height:0px;
    margin-bottom: 20px;
}

}

@media(max-width:735px){

.list_working_lists{

    margin: 10px 0 0 10px;
}

}