.my_skils_container{
    max-width: 1150px;
    margin: 0 auto;
}
.my_skils_content{
    margin: 101px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
.my_skils_lists{
    text-align: left;
    width: calc(290px + 155 * ((100vw - 320px) / (1920 - 320)));
    height: 450px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lists_title{
    color: black;
    font-size: calc(25px + 7 * ((100vw - 320px) / (1920 - 320)));
    line-height: 37px;
    font-family: Roboto;
    font-weight: 500;
}
.lists_list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   height: 80%;
}

.list_item_1::before{
    position: absolute;
    content: '';
    border-bottom:4px solid #34547A;
    width: 90%;
    bottom: -4px;
}
.list_item_2::before{
    position: absolute;
    content: '';
    border-bottom:4px solid #34547A;
    width: 70%;
    bottom: -4px;
}
.list_item_3::before{
    position: absolute;
    content: '';
    border-bottom:4px solid #34547A;
    width: 80%;
    bottom: -4px;
}
.list_item_4::before{
    position: absolute;
    content: '';
    border-bottom:4px solid #34547A;
    width: 50%;
    bottom: -4px;
}
.list_item_5::before{
    position: absolute;
    content: '';
    border-bottom:4px solid #34547A;
    width: 60%;
    bottom: -4px;
}
.list_item_6::before{
    position: absolute;
    content: '';
    border-bottom:4px solid #34547A;
    width: 40%;
    bottom: -4px;
}

.list_item{
    position: relative;
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    font-family: Roboto;
    font-weight: 400px;
    border-bottom: 4px solid #C4C4C4;
}
/*.list_item::before{
    position: absolute;
    content: '';
    border-bottom:4px solid #34547A;
    width: 50%;
    bottom: -4px;
}*/

.my_skils_avatar{
    max-width: calc(350px + 205 * ((100vw - 320px) / (1920 - 320)));
}

@media (max-width: 767px) {
 
.my_skils_content{
        margin: 101px 15px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
}

.my_skils_lists{
    margin-right: 0px;
}

.lists_title{

text-align: center;
}
  }