
.works_container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #34547A;
}
.works_contant {
    display: flex;
    width: 1110px;
    height: 250px;
    align-items: center;
    justify-content: space-between;
    /*justify-content:center;*/

}

@media (max-width: 772px) {

    .works_contant {
     
        height:100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}


.works_item {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    padding: 30px 10px;
    margin: 10px 10px;
}

.works_item:hover{
    box-shadow: 1px 1px 20px 1px rgb(191, 196, 202);
}
.works_count_project {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.25px;
    color: #FFFFFF;
    text-align: left;
}

.works_count_project span{
    display: block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 21px;
    line-height: 24.61px;
    color: #FFFFFF;
    text-align: left;
}

.works_item:hover {
    color: #345073;
}
