
.header_container {
    max-width: 1920px;
    margin: 80px auto 0 auto;
}
@media (max-width: 550px) {

    .header_container {
        max-width: 1920px;
        margin: 60px auto 0 auto;
    } 
}
.header_fronta_container {

    margin: 0 auto;
    max-width: 1920px;
    min-height: 700px;
    background-color: #EEEFF1;
 
}

.header_content {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;   
    width: 100%;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 80px;
    border-bottom: 1px solid #b9c3d0;
    background: #EEEFF1;
    box-shadow: 0 10px 30px 0 rgba(34, 109, 153, 0.15);
    z-index: 999;
}
.header_logo {
    font-family: Revalia;
    font-size: 48px;
    line-height: 59px;
    color: #34547A;
    font-weight: 400;

}
.logo_content {
}
.header_menu_constainer {
   width: 478px; 
  margin: 0 10px;
}
.header_menu_list {
   
}
@media (max-width: 550px) {
    .header_menu_constainer {
        display: none;
     }
    .header_content {
        height: 60px;
    align-items: center;
justify-content: space-between;
    }
}
.menu_list_content {
    display: flex; 
    justify-content: space-between;
    font-family: Roboto;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 10%;
    margin-bottom: 7px;

}

.menu_list_content li{
    position: relative;
}

.menu_list_content li::before {
    position: absolute;
    content: '';
    bottom: 0;
    border-bottom: 2px solid #34547A;
    width: 0;
}

.menu_list_content li:hover:before {
    width:100%;
    transition-property: width;
    transition-duration:  0.7s;
}

.header_frontend_main_container {
    max-width: 1110px;
    margin: 0 auto;

}
.frontend_main_content{
    height: 583px;
    justify-content: space-between;
    display: flex;
    padding-top: 60px;
    align-items: center;
}
.frontend_contant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 555px;
    align-items: flex-start;
  
}

.header_frontend_img {
    max-width: 357px; ;
    margin-right:  20px;
    margin-left:  62px;
}
.header_frontend_img img{
    max-width: 357px; ;
}


@media (max-width: 767px) {
    .frontend_main_content {
        margin: 40px auto 0 auto; 
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .frontend_contant {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 541px;
        align-items: center;
        margin: 20px 0;
    }
    .header_frontend_img{
        max-width: 257px; 
        margin: 0 auto;
    }
  }



@media (max-width: 767px) {
    .header_frontend_img img{
        max-width: 257px; ;
    }
  }
.frontend_contant_title {
    color: black;
    font-size: calc(30px + 18 * ((100vw - 320px) / (1920 - 320)));
    font-family: Roboto;
    font-weight: 500px;
   
}

@media (max-width: 767px) {
    .frontend_contant_title {
      text-align: center;
    }
  }
.frontend_contant_text {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    font-family: Roboto;
    font-weight: 400px;
    margin: 60px 0;
}


@media (max-width: 767px) {
    .frontend_contant_text {
        text-align: center;
        margin: 20px 15px;
    }
  }

.frontend_contant_button {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34547A;
    width:   calc(200px + 25 * ((100vw - 320px) / (1920 - 320)));
    height: calc(40px + 25 * ((100vw - 320px) / (1920 - 320)));
}
.frontend_contant_button:hover {
    transform: translateY(0.2em);
    transition-property: all;
    transition-duration: 200ms;
}

.frontend_contant_button a{
    color: #FFFFFF;
    font-size: calc(14px + 2 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(24px + 2 * ((100vw - 320px) / (1920 - 320)));
    font-family: Roboto;
    font-weight: 400px;
    padding: 10px 43px;
}



.burger-btn{
    position: relative;
    display: none;
    width: 34px;
    height: 24px;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.burger-btn span{
    position: absolute;
    top: 11px;
    width: 34px;
    height: 24px;
    border-top: 3px solid black;
}

.burger-btn::before{
    bottom: 0px;
    position: absolute;
    display: inline-block;
    content: '';
    width: 34px;
    border-top: 3px solid black;
}

.burger-btn::after{
    position: absolute;
    top: 0px;
    display: inline-block;
    content: '';
    width: 34px;
    border-top: 3px solid black;
}

@media (max-width: 550px) {
    
    .burger-btn{
        display: inline-block;
    }
}

.burger-btn:active > span{
    transform: scale(0);
   /*transition: all 0.3s;*/
}

.burger-btn:active::before{
    transform: translate(0,-11px) rotate(-0.12turn);
    /*transition: all 0.3s;*/
  
}

.burger-btn:active::after{
    transform: translate(0,10px) rotate(0.12turn);
    /*transition:all 0.3s;*/

}