
.header_container {
    max-width: 1920px;
    margin: 60px auto 0 auto;
}
@media (max-width: 550px) {

    .header_container {
        max-width: 1920px;
        margin: 60px auto 0 auto;
    } 
}
.header_fronta_container {

    margin: 0 auto;
    max-width: 1920px;
    background-color: #EEEFF1;
 
}

.header_content {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    border-bottom: 1px solid #b9c3d0;
    background: #EEEFF1;
    box-shadow: 0 10px 30px 0 rgba(34, 109, 153, 0.15);
    z-index: 999;
}

.header_logo {
    font-family: Revalia;
    font-size: 48px;
    line-height: 59px;
    color: #34547A;
    font-weight: 400;
margin-left: 20px;
}
.logo_content {
}



@media (max-width: 670px) {
    .header_content {
        height: 60px;
    align-items: center;
    justify-content: space-between;
    }
}

.burger-btn{
    position: relative;
    display: none;
    width: 34px;
    height: 24px;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.burger-btn span{
    position: absolute;
    top: 11px;
    width: 34px;
    height: 24px;
    border-top: 3px solid black;
}

.burger-btn::before{
    bottom: 0px;
    position: absolute;
    display: inline-block;
    content: '';
    width: 34px;
    border-top: 3px solid black;
}

.burger-btn::after{
    position: absolute;
    top: 0px;
    display: inline-block;
    content: '';
    width: 34px;
    border-top: 3px solid black;
}

@media (max-width: 670px) {
    
    .burger-btn{
        display: inline-block;
    }
}

.burger-btn:active > span{
    transform: scale(0);
   /*transition: all 0.3s;*/
}

.burger-btn:active::before{
    transform: translate(0,-11px) rotate(-0.12turn);
    /*transition: all 0.3s;*/
  
}

.burger-btn:active::after{
    transform: translate(0,10px) rotate(0.12turn);
    /*transition:all 0.3s;*/

}